.wc-proceed-to-checkout {
  .wc-forward {
    background: #5A9754;
    border: 1px solid #427A3D;
    width: 100%;

    &:hover {
      background: #427A3D;
      border: 1px solid #427A3D;
    }
  }
}

.woocommerce-cart-form__contents {
  .coupon {
    .input-text {
      width: auto !important;
    }
  }
}