/**
 * Checkout
 */



.woocommerce-notices-wrapper {
  @extend .container;
}

.woocommerce-message {
  box-shadow: 0 2px 40px 0 rgba(8,17,64,0.07);
  background-color: #fff;

  .wc-forward {
    display: none !important;
  }
}

.woocommerce-billing-fields__field-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.woocommerce form .form-row {
  display: inline;


  &.form-row-first {
    width: 100%;
    float: none;
  }
  &.form-row-last {
    width: 100%;
    float: none;
    // grid-area: right;
  }
  // &:not(.form-row-first):not(.form-row-last) {
  //   grid-area: full;
  // }

  label {
    font-family: $font-text;
    text-align: left;
    font-size: 12px;
    color: $gray-color-100;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    display: block;
  }
}

.woocommerce-input-wrapper {
  display: block;

  .input-text {
    width: 100%;
    padding: 6px;
  }
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background-color: transparent;
}