
<div class="es-wrapper-color">
  <!--[if gte mso 9]>
    <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
    <v:fill type="tile" color="#fff"></v:fill>
  </v:background>
  <![endif]-->
  <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="gmail-fix" height="0">
        <td>
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
            <tbody>
              <tr>
                <td cellpadding="0" cellspacing="0" border="0" height="0" style="line-height: 1px; min-width: 600px;"><img src="https://esputnik.com/repository/applications/images/blank.gif" width="600" height="1" style="display: block; max-height: 0px; min-height: 0px; min-width: 600px; width: 600px;" alt></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <!-- CONTENUTO BLOCCO -->

        <!-- FINE CONTENUTO BLOCCO -->
      </tr>
    </tbody>
  </table>
</div>
