.bg-box {
  // background-image: linear-gradient(222deg, #c385e6 0%, #6653f7 89%);
  padding-top: 56px;
  padding-bottom: 56px;
}

.boxemail {
  background: #FFFFFF;
  box-shadow: 0 2px 40px 0 rgba(8,17,64,0.07);
  height: auto;
  margin-top: 60px;
  padding: 24px 40px;
  width: 100%;
}


.cta {
  @extend .btn;
  background: #308dff;
  width: 100%;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 12px 0 12px 0;
  font-weight: 600;
  letter-spacing: 1px;

  &:hover,
  &:visited,
  &:focus {
    color: #fff;
  }
}

.feature-list {
  margin: 0;
  margin-top: 56px;
  margin-left: 0px;
  padding: 0;
  list-style: none;

  & > li + li {
    margin-top: 34px;
  }
}

.title-xxl {
  font-family: var(--font-heading);
  font-size: 52px;
  background: -webkit-linear-gradient(0deg, #000000 0%, #0954c2 59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0;
  line-height: 58px;
}
.feature-text {
  font-family: var(--font-heading);
  font-size: 18px;
  color: #323232;
  letter-spacing: 0;
  line-height: 32px;
}

.mt-10 {
  margin-top: 100px;
}
.mb-10 {
  margin-bottom: 100px;
}

.faq-title {
  font-size: 14px;
  margin-top: 74px;
  margin-bottom: 36px;
  color: #918484;
  font-weight: 400;
  letter-spacing: 1.7px;
  border-top: 1px solid #ddd;
  padding-top: 12px;
}

.faq-item {
  & + & {
    margin-top: 34px;
  }

  dt {
    font-size: 18px;
    margin-bottom: 14px;
  }

  dd {
    font-size: 16px;
  }
}



.logo--footer {
  height: 80px;
  width: auto;
  margin-bottom: 36px;
}

.fixed-cta {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 70px;
  padding: 15px 0;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #DDD;

  @include mq(md) {
    display: none;
  }
}
