/* form */
.mailpoet_form {
  h4 {
    font-size: 24px;
    color: $black-color-100;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 35px;
    text-align: center;
    line-height: 32px;
  }
}

/* paragraphs (label + input) */
.mailpoet_paragraph {
  line-height: 37px;
  text-align: center;
  font-family: $font-heading;
  font-size: 24px;
  color: #2b2c2e;
  letter-spacing: 0;
  margin-bottom: 24px;


  .mailpoet_checkbox_label {
    margin-top: 24px;

    input {
      width: 16px;
      height: 16px;
      border: 2px solid $primary-color;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/* labels */
.mailpoet_checkbox_label,
.mailpoet_date_label,
.mailpoet_list_label,
.mailpoet_radio_label,
.mailpoet_segment_label,
.mailpoet_select_label,
.mailpoet_text_label,
.mailpoet_textarea_label {
  font-family: $font-text;
  text-align: left;
  font-size: 12px;
  color: $gray-color-100;
  letter-spacing: 1px;
  font-weight: 300 !important;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* inputs */
.mailpoet_date,
.mailpoet_date_day,
.mailpoet_date_month,
.mailpoet_date_year,
.mailpoet_select,
.mailpoet_text,
.mailpoet_textarea {
  display: block;
  border: 0;
  border-bottom: 2px solid $primary-color;
}

.mailpoet_text,
.mailpoet_textarea {
  font-size: 18px;
  width: 100% !important;
  padding: 12px;
  font-family: $font-text;
}

.mailpoet_checkbox {
  border: 2px solid $primary-color;
}

.mailpoet_submit {
  padding: 16px 24px;
  width: 100%;
  color: #FFF;
  font-size: 16px;
  background: $primary-color;
  border: 0px solid transparent;
  font-family: $font-text;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: $white-color;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 22px;
}

.mailpoet_divider {}

.mailpoet_message {}

.mailpoet_validate_success {
  font-weight: 600;
  color: #468847;
}

.mailpoet_validate_error {
  color: #b94a48;
}

.mailpoet_form_loading {
  width: 30px;
  text-align: center;
  line-height: normal;
}

.mailpoet_form_loading > span {
  width: 5px;
  height: 5px;
  background-color: #5b5b5b;
}
