.header {
  padding-top: 26px;
  padding-bottom: 26px;
}

.nav-menu,
.nav-footer {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-footer {
  justify-content: center;
  > li + li {
    margin-left: 24px;
  }
}

.logo {
  height: auto;
  width: auto;
}

.menu-item {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
}

.current-menu-item, .current-menu-parent {
  border-bottom: 3px solid $primary-color;
  font-weight: 800;
}

.icon-contact {
  margin-left: 36px;
  height: 36px;
  width: auto;
}
