:root {
  /*  EASING FUNCTIONS */
  --ease-basic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-nav: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-smooth: cubic-bezier(0, 0.72, 0.26, 0.99);
  /* Add new easing curve because we need a `ease-in-out` kind of curve */
  --ease-arrow-home: cubic-bezier(0.645, 0.045, 0.355, 1);

  /*  TIME VALUES */
  --time-delay: 0.1s;
  --time-really-fast: 0.2s;
  --time-fast: 0.3s;
  --time-normal: 0.5s;
  --time-slow: 0.85s;
  --time-really-slow: 1s;
  --time-turtle-level: 2s;

  /* ZOOM INTENSITY for hover effect on images */
  --zoom-level: 1.05;
  --zoom-time: var(--time-slow);
  --zoom-ease: var(--ease-smooth);
  /* LINE ANIMATION for hover effect on titles */
  --line-hover-time: var(--time-fast);
  --line-hover-ease: var(--ease-smooth);
}
