// :root {
//   /* Colour Primary */
//   --color-primary: hsl(4, 77%, 48%);
//   --color-primaryRGB: 218, 41, 28; /* for RGBA values */
//   --color-primary-variant: hsl(4, 82%, 40%); /* temporary, to define */

//   /* Colour Secondary */
//   --color-secondary: hsl(213, 68%, 15%);
//   --color-secondaryRGB: 12, 35, 64; /* for RGBA values */
//   --color-secondary-variant: hsl(213, 68%, 10%); /* temporary, to define */

//   /* Neutral Scale — Add other tint shades if necessary */
//   --color-black: hsl(0, 0%, 0%);
//   --color-blackRGB: 0, 0, 0;
//   --color-gray-900: hsl(0, 0%, 24%);
//   --color-gray-700: hsl(276, 4%, 51%);
//   /*--color-gray-500: hsl(200, 17%, 80%); Not present in the Design System */
//   --color-gray-300: hsl(0, 0%, 78%);
//   --color-gray-100: hsl(360, 8%, 95%);
//   --color-white: hsl(0, 0%, 100%);
//   --color-whiteRGB: 255, 255, 255; /* for RGBA values */

//   /* Status, maybe not necessary */
//   --color-error: hsl(360, 100%, 50%);
//   --color-warning: hsl(49, 100%, 50%);
//   /*--color-success: hsl(155, 89%, 45%); Not present in the Design System */
// }

$primary-color: #4669ff;
$green-color: #5a9754;

$black-color: #000;
$black-color-100: #191d31;
$black-color-200: #30333f;

$white-color: #ffffff;
$gray-color: #f3f5ff;
$gray-color-50: #797D8E;
$gray-color-100: #8a8fa6;


// ATOMIC CLASSES to avoid repetitions in CSS Modules

// /* Colors */
// .color-black {
//   color: var(--color-black);
// }
// .color-gray-900 {
//   color: var(--color-gray-900);
// }
// .color-gray-700 {
//   color: var(--color-gray-700);
// }
// .color-gray-300 {
//   color: var(--color-gray-300);
// }
// .color-gray-100 {
//   color: var(--color-gray-100);
// }
// .color-white {
//   color: var(--color-white);
// }
// .color-white-50 {
//   opacity: 0.5;
//   color: var(--color-white);
// }
// .color-white-60 {
//   opacity: 0.6;
//   color: var(--color-white);
// }
// .color-primary {
//   color: var(--color-primary);
// }
// .color-secondary {
//   color: var(--color-secondary);
// }

// /* Backgrounds */
// .bg-white {
//   background-color: var(--color-white);
// }
// .bg-gray-100 {
//   background-color: var(--color-gray-100);
// }
// .bg-primary {
//   background-color: var(--color-primary);
// }
// .bg-secondary {
//   background-color: var(--color-secondary);
// }
