/* SCREEN SIZE VALUES
For responsive font-sizes */
:root {
  --xxsm: 400px;
  --xsm: 560px;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1440px;
  --xxxl: 1600px;
  --xxxxl: 2400px;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1024px,
  xxl: 1280px,
  xxxl: 1400px,
  wide: 2000px,
);


$container-max-widths: (
  sm: map-get($grid-breakpoints, md),
  md: map-get($grid-breakpoints, lg),
  lg: map-get($grid-breakpoints, xl),
);

$mq-breakpoints: $grid-breakpoints;

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
