html,
body {
  height: 100%;
}

body {
  background-color: $gray-color;
}


.rainbow {
  position: relative;
  z-index: 1;
  &:after {
    bottom: 5px;
    left: 0;
    display: block;
    background-image: linear-gradient(270deg, #FFC63E 8%, #7BD071 33%, #3BF0C3 51%, #00D8FF 70%, #CB74CA 93%);
    content: "";
    width: 105%;
    height: 10px;
    position: absolute;
    z-index: -1;
  }
}

.link-nostyle {
  color: inherit;
}

.link-logo {
  color: inherit;

  &__helper {
    color: #7A7E92;
    font-family: $font-text;
    font-size: 12px;
    opacity: 0;
  }

  &:hover {
    color: inherit;
    text-decoration: none;

    .link-logo__helper {
      opacity: 1;
    }
  }
}