$grid-offset: 16px;
$grid-gutter-width: 16px;
$spacer: 16px;

$spacers: (
  0: 0,
  1: (
    $spacer * .25,
  ),
  2: (
    $spacer * .5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 2,
  ),
  6: (
    $spacer * 3,
  ),
  7: (
    $spacer * 4,
  ),
  8: (
    $spacer * 5,
  ),
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1080px,
  xxl: 1240px,
  xxxl: 1400px,
);

$container-max-widths: (
  sm: map-get($grid-breakpoints, md),
  md: map-get($grid-breakpoints, lg),
  lg: map-get($grid-breakpoints, xl),
  xl: map-get($grid-breakpoints, xxl),
  xxl: map-get($grid-breakpoints, xxxl),
);

.container {
  width: 100%;
  @include make-container-max-widths();
}

$mq-breakpoints: $grid-breakpoints;
