:root {
  --icon-xxs: var(--spc-1_5);
  --icon-xs: var(--spc-2_5);
  --icon-sm: var(--spc-3);
  --icon-md: var(--spc-4);
  --icon-lg: var(--spc-5);
  --icon-xl: var(--spc-6);
  --icon-2xl: var(--spc-8);
}
