:root {
  /* unit: px value */
  --spc-unit: 8px;
  /* Equivalent to 2px  */
  --spc-_25: calc(var(--spc-unit) * 0.25);
  /* Equivalent to 4px  */
  --spc-_5: calc(var(--spc-unit) * 0.5);
  /* Equivalent to 8px  */
  --spc-1: var(--spc-unit);
  /* Equivalent to 12px  */
  --spc-1_5: calc(var(--spc-unit) * 1.5);
  /* Equivalent to 16px  */
  --spc-2: calc(var(--spc-unit) * 2);
  /* Equivalent to 20px  */
  --spc-2_5: calc(var(--spc-unit) * 2.5);
  /* Equivalent to 24px  */
  --spc-3: calc(var(--spc-unit) * 3);
  /* Equivalent to 32px  */
  --spc-4: calc(var(--spc-unit) * 4);
  /* Equivalent to 40px  */
  --spc-5: calc(var(--spc-unit) * 5);
  /* Equivalent to 48px  */
  --spc-6: calc(var(--spc-unit) * 6);
  /* Equivalent to 56px  */
  --spc-7: calc(var(--spc-unit) * 7);
  /* Equivalent to 64px  */
  --spc-8: calc(var(--spc-unit) * 8);
  /* Equivalent to 72px  */
  --spc-9: calc(var(--spc-unit) * 9);
  /* Equivalent to 80px  */
  --spc-10: calc(var(--spc-unit) * 10);
  /* Equivalent to 96px  */
  --spc-12: calc(var(--spc-unit) * 12);
  /* Equivalent to 112px  */
  --spc-14: calc(var(--spc-unit) * 14);
  /* Equivalent to 120px  */
  --spc-15: calc(var(--spc-unit) * 15);
  /* Equivalent to 160px  */
  --spc-20: calc(var(--spc-unit) * 20);
  /* Equivalent to 240px  */
  --spc-30: calc(var(--spc-unit) * 30);
}

/* Margin Bottom Utilities Classes */
.mb-4 {
  margin-bottom: var(--spc-4);
}

.mb-6 {
  margin-bottom: var(--spc-6);
}

.mb-8 {
  margin-bottom: var(--spc-8);
}

.mb-10 {
  margin-bottom: var(--spc-10);
}

.mb-15 {
  margin-bottom: var(--spc-15);
}

.mb-bk-8 {
  @media (--grid-bk) {
    margin-bottom: var(--spc-8);
  }
}

.mb-bk-10 {
  @media (--grid-bk) {
    margin-bottom: var(--spc-10);
  }
}

.mb-bk-12 {
  @media (--grid-bk) {
    margin-bottom: var(--spc-12);
  }
}

.mb-bk-15 {
  @media (--grid-bk) {
    margin-bottom: var(--spc-15);
  }
}

.mb-bk-20 {
  margin-bottom: var(--spc-20);
}

/* Margin Top Utilities Classes */
.mt-4 {
  margin-top: var(--spc-4);
}

.mt-6 {
  margin-top: var(--spc-6);
}

.mt-8 {
  margin-top: var(--spc-8);
}

.mt-10 {
  margin-top: var(--spc-10);
}

.mt-15 {
  margin-top: var(--spc-15);
}

.mt-bk-8 {
  @media (--grid-bk) {
    margin-top: var(--spc-8);
  }
}

.mt-bk-10 {
  @media (--grid-bk) {
    margin-top: var(--spc-10);
  }
}

.mt-bk-12 {
  @media (--grid-bk) {
    margin-top: var(--spc-12);
  }
}

.mt-bk-15 {
  @media (--grid-bk) {
    margin-top: var(--spc-15);
  }
}

.mt-bk-20 {
  @media (--grid-bk) {
    margin-top: var(--spc-20);
  }
}
