@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:400,700&display=swap");

$font-text: "Lato";
$font-heading: "Playfair Display";

// /* 12px */
$text-xs: 0.75rem;
// /* 14px */
$text-sm: 0.875rem;
// /* 16px */
$text-base: 1rem;
// /* 18px */
$text-lg: 1.125rem;
// /* 20px */
$text-xl: 1.25rem;
// /* 24px */
$text-2xl: 1.5rem;
// /* 32px */
$text-3xl: 2rem;
// /* 40px */
$text-4xl: 2.5rem;
// /* 48px */
$text-5xl: 3rem;
// /* 64px */
$text-6xl: 4rem;
// /* 80px */
$text-7xl: 5rem;
// /* 160px */
$text-8xl: 10rem;
// /* 400px */
$text-16xl: 25rem;


html,
body {
  font-family: $font-text, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading, sans-serif;
}

.weight-thin {
  font-weight: 200;
}

.weight-light {
  font-weight: 300;
}

.weight-regular {
  font-weight: 400;
}

.weight-bold {
  font-weight: 700;
}

.text--xl {
  color: $black-color-100;
  font-size: 38px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.16px;
}

.text--md {
  font-size: 29px;
  font-weight: 700;
  color: $black-color-100;
  letter-spacing: 1.58px;
}

.text-p--xl {
  font-size: 18px;
  letter-spacing: 1.04px;
  line-height: 22px;
}

.text-heading {
  font-family: $font-heading;
}

.text--logo-small {
  font-weight: 700;
  font-size: 26px;
  color: $primary-color;
  letter-spacing: 0.48px;
}

.text--copy {
  font-size: 14px;
  color: $gray-color-50;
  letter-spacing: 0.48px;
}

.logo {
  color: $primary-color;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: .59px;
}
