.features {
  margin: 0;
  margin-top: 36px;
  padding: 0;
  list-style: none;

  .feature-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 32px;
    font-size: 18px;


    .icon {
      width: auto;
      height: 32px;
      margin: 5px auto;
    }

    p {
      letter-spacing: .6px;
    }
  }
}