.nav-footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 50px;
  padding: 0;

  @include mq(md) {
    flex-direction: row;
  }

  .menu-item {
    margin: 0;
    padding: 0;

    & + .menu-item {
      margin-top: 20px;

      @include mq(md) {
        margin-top: 0;
      }
    }

  }

  .nav-link {
    color: $black-color-200;

    &:hover {
      color: $primary-color;
    }
  }
}