.social-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 38px;
  padding: 0;
  list-style: none;

  &__item + &__item{
    margin-left: 36px;
  }

  .ico {
    width: 28px;
    height: 28px;
  }
}