.box-staff {
  position: relative;

  .illustration-box {
    height: 150px;
  }

  .illustration {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -130px;
    width: 250px;
    height: auto;

    @include mq(md) {
      top: -60px;
      width: 350px;
    }
  }
}
