.card-box {
  position: relative;
  border: 1px solid #FFDA7C;
  background-image: linear-gradient(224deg, #FFF1CE 0%, #FFDA77 100%);
  box-shadow: 0 2px 52px 0 rgba(34,46,98,0.07);
  border-radius: 3px;
  margin: 150px 0 100px 0;

  .illustration-box {
    min-height: 140px;
    @media (--lg) {
      min-height: auto;
    }
  }

  .illustration {
    position: absolute;
    top: -100px;
    left: -50px;
    width: auto;

    &.book {
      display: none;
      top: initial;
      right: 50px;
      bottom: -80px;
      left: unset;
      width: 50%;

      @include mq(md) {
        display: block;
      }
    }
  }

  .btn {
    position: absolute;
    right: 25px;

    &:hover {
      color: $white;
    }
  }
}