.s-footer {
  margin-top: 174px;
  border: 1px solid #CFD7FF;
  border-radius: 3px;
  background: #F2F4FE;
  box-shadow: 0 -10px 42px 0 rgba(34,46,98,0.07);
}

.footer {
  padding: 100px 0 60px;
  text-align: center;
  @include mq(md) {
    padding: 200px 0 60px;
  }
}

.copyright {
  margin-top: 24px;
  color: $gray-500;
  font-size: 12px;
}

.disclaimer {
  color: #aaaaaa;
  font-size: 9px;
  margin: 0 auto;
  max-width: 90%;
  @include mq(md) {
    max-width: 70%;
  }
}
