.header {
  margin-bottom: 36px;

  &__col {
    display: flex;
    justify-content: space-between;
  }

  @include mq(lg) {
    margin-bottom: 80px;
  }
}

.nav-header {

  list-style: none;
  margin: 0;
  padding: 0;

  @include mq(lg) {
    display: flex;
  }
}

.menu-home-container {
  width: 100%;
}

.menu-home-container,
.menu-header-container{
  width: 100%;
}



.nav-header {
  justify-content: flex-end;
}