.post {
  background: #FFFFFF;
  box-shadow: 0 12px 42px 0 rgba(28,36,72,0.04);
  border-radius: 3px;
  padding: 24px;

  @include mq(lg) {
    padding: 36px;
  }
}

.post-archive {
  & + & {
    margin-top: 64px;
  }
}

blockquote {
  background-color: #eff1fd;
  border-left: 4px solid $primary-color;
  display: block;
  margin-top: 42px;
  padding: 42px;
  font-size: 18px;
}

.post {
  .entry-title {
    font-size: $text-2xl;
    font-weight: bold;
    margin-bottom: 24px;

    @include mq(lg) {
      font-size: $text-4xl;
    }
  }

  h2,
  h2.p1 {
    font-size: $text-2xl;
    margin-bottom: 42px;
    font-weight: 600;
    letter-spacing: 1px;

    @include mq(lg) {
      font-size: $text-3xl;
    }
  }

  h3 {
    font-size: $text-xl;
    margin-top: 24px;

    @include mq(lg) {
      font-size: $text-2xl;
    }
  }

  ul {
    li + li {
      margin-top: 18px;
    }
  }
}