.product-table {
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: 1fr;
  margin-top: 80px;

  @include mq(xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 2px 40px 0 rgba(8,17,64,0.07);
    padding: 36px;

    &:nth-child(2) {
      background-image: linear-gradient(224deg, #FFF1CE 0%, #FFDA77 100%);
      border: 1px solid #FFDA77;

      &:after {
        position: absolute;
        display: block;
        content: "Il più scelto";
        top: -20px;
        right: 20px;
        width: auto;
        height: auto;
        border-radius: 3px;
        padding: 8px 12px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .7px;
        color: white;
        background-color: #000;
      }
    }
  }

  &__title {
    font-weight: bold;
    margin: 0;
  }

  &__price {
    margin: 0;
    margin-top: 24px;
    font-family: $font-text;
    font-size: 32px;
    color: #191D31;
    letter-spacing: 0;
  }

  &__priceinfo {
    font-family: $font-text;
    font-size: 12px;
    color: #7A7E92;
    letter-spacing: 0;
  }

  &__pricedesc {
    margin-top: 24px;
    margin-bottom: 36px;

    ul {
      margin: 0;
      padding: 0 0 0 18px;
    }
  }

  &__cta {
    margin-top: auto;
    background: #5A9754;
    border: 1px solid #427A3D;

    &:hover {
      background: #427A3D;
      border: 1px solid #427A3D;
    }
  }
}