.btn {
  background-color: $primary-color;
  border-radius: 0;
  font-family: $font-text;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: $white-color;
  letter-spacing: 4px;
  text-align: center;
  line-height: 36px;
  padding-left: 70px;
  padding-right: 70px;

  &:hover {
    color: #fff;
  }
}

.btn.btn-green {
  background-color: $green-color;
}

.cta-more {
  @extend .btn;
  display: block;
  margin: 36px auto 0 auto;

  @include mq(lg) {
    max-width: 400px;
  }
}