img,
figure,
.illustration,
.ico {
  height: auto;
  width: 100%;
}

figure {
  height: auto;
  width: 100% !important;

  figcaption {
    color: #ababab;
    text-align: center;
    font-size: 14px;
    margin-top: 6px;
  }
}